.app {

	&__grid {
		display: flex;
		height: calc(100vh - 109.11px);
	}

	&__submit {
		margin-top: 1rem;
		text-align: right;
	}

	&__validate {

		position: absolute;
		opacity: 0;
		pointer-events: none;
		text-align: left;
		margin: 0;
		color: rgb(190, 105, 99);
		transition: 0.1s linear opacity;


		&--active {
			opacity: 1;
			pointer-events: unset;
		}
	}

	&__heading {
		margin-top: 0rem;
		font-weight: 300;
		font-family: $theme-secondary-font;
		text-transform: uppercase;
		font-size: 1.2rem;
		order: 999;
	}
	
	&__responses {
		display: flex;
		flex-flow: column-reverse;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	&__message {
		margin-top: 0rem;
	}

	&__left {
		display: flex;
		flex-flow: column;
		width: 60%;
		margin-right: 3rem;
	}
	&__right {
		flex-grow: 1;
	}

	&__paper {
		background-color: $theme-accent-color;
		height: 100vh !important;
	}
}